/************************\
	BLOG STUFF
\************************/

.blog-wrapper {
/*	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	a {
		color: #000;
		text-decoration: none;
		font-weight: bold;
	}
	.blog-left {
		width: 300px;
		float: left;
	}
	.blog-right {
		width: 300px;
		float: right;
	} */
	hr {
<<<<<<< HEAD
		width: 25%;
=======
		width: 50%;
		height: 0.1em;
>>>>>>> 2bb1bbf0b262bd789230f914d5d697e740e37218
	}
	.date {
		font-size: .75em;
		color: #333;
	}
	.tags {
		font-size: .75em;
		color: #333;
		a, a:hover, a:visited, a:active {
			text-decoration: none;
			color: inherit;
			font-weight: normal;
		}
		hr {
<<<<<<< HEAD
			width: 50%;
=======
			width: 25%;
			text-align: left;
			margin-left: 0;
			background: #000;
			background-image: linear-gradient(to right, #000, #eeeecc);
			height: 0.1333em;
			border: 0;
>>>>>>> 2bb1bbf0b262bd789230f914d5d697e740e37218
		}
	}
}
