/************************\
	BLOG STUFF
\************************/

.blog-wrapper {
/*	padding: 25px;
	margin-left: auto;
	margin-right: auto;
	a {
		color: #000;
		text-decoration: none;
		font-weight: bold;
	}
	.blog-left {
		width: 300px;
		float: left;
	}
	.blog-right {
		width: 300px;
		float: right;
	} */
	hr {
		width: 50%;
	}
	.date {
		font-size: .75em;
		color: #333;
	}
	.tags {
		font-size: .75em;
		color: #333;
		a, a:hover, a:visited, a:active {
			text-decoration: none;
			color: inherit;
			font-weight: normal;
		}
		hr {
			width: 25%;
		}
	}
}
