.new-header {
	color: #000;
	background-color: #eeeecc;
	max-width: 700px;
	margin: 0 auto;
	svg {
		width: 100%;
		height: auto;
	}
	/**\
	I don't think this stuff is being used anymore
	\**/
	.logo {
		float: left;
		width: 20%;
	}
	.text {
		float: right;
		width: 80%;
		font-size: 3em;
		vertical-align: bottom;
	}
}
