.rejection-input-wrapper
{
	padding:15px 0px 15px 0px;
	display:flex;

	input {
		width:45px;
		height:2.2em;
		min:"1";
	}
}
.rejection-text
{
	line-height:140%;
}
.rejection-boxes
{
	padding-left:.2em;
}
.rejection-legend
{
	float:right;
	padding-left:.2em;
	line-height:140%;
}
.rejection-output-wrapper
{
	height:4em;
}
