<div class="menu">
	<ul>
		<li><a href="/writing.html">Writing<hr></a>
			<ul>
				<li><a href="/">Fiction<hr></a></li>
				<li><a href="/">Nonfiction<hr></a></li>
			</ul>
		</li>
		<li><a href="/blogs.html">Blogs<hr></a>
			<ul>
				<li><a href="/">Blog<hr></a></li>
				<li><a href="/">Blog<hr></a></li>
				<li><a href="/">Blog<hr></a></li>
			</ul>
		</li>
		<li><a href="/stuff.html">Stuff<hr></a>
			<ul>
				<li><a href="/assets/mountains.html">At the Mountains of Madness<hr></a></li>
				<li><a href="/">Stuff<hr></a></li>
				<li><a href="/">Stuff<hr></a></li>
				<li><a href="/">Stuff<hr></a></li>
				<li><a href="/">Stuff<hr></a></li>
			</ul>
		</li>
		<li><a href="/">About<hr></a>
			<ul>
				<li><a href="/">Info<hr></a></li>
				<li><a href="/">Info<hr></a></li>
				<li><a href="/">Info<hr></a></li>
			</ul>
		</li>
</div>
