<h1>
	Hilary B. Bisenieks' Amazing Patent Rejection Wall Calculator
</h1>
<h3>
	Take the Guesswork out of Filling Your Wall With Rejections!
</h3>
<h5>
	Guaranteed 100% Accurate!*
</h5>
<h6>
	*Not actually a guarantee
</h6>
<p>
	The old axiom for writers was that you had to paper your wall with rejection slips before you finally got a piece accepted.  In this age, though, more and more publications are moving towards electronic submission systems, so your rejections just end up in your inbox, a scant few kilobytes on an enormous hard drive.  A kilobyte doesn't take up any real space.
</p>
<p>
	"[Insert expression of dismay here]," you may be saying.  "Now I'll never get published."
</p>
<p>
	You could always print out all of your rejection slips, but that's hardly sustainable, now is it?  That's where <i>Hilary B. Bisenieks' Amazing Patent Rejection Wall Calculator</i> comes in.  Why spend time and paper covering a real wall when this simple program can fill a virtual wall for you?  Simply enter the dimensions of the wall you're filling and the number of rejections you've received and the rest of the work will be done for you.
</p>

<script type="text/javascript" >
	{% include rejection-wall.js %}
</script>

<div class="rejection-input-wrapper">
	<div class="rejection-text">
		<p>
		Wall width:<br />
		Wall height:<br />
		Rejections:
		</p>
	</div>
	<div class="rejection-legend">
		<p>
		feet<br />
		feet<br />
		rejection slips
		</p>
	</div>
	<div class="rejection-boxes">
		<p>
		<input type="number" id="width" value="12" size="4"><br />
		<input type="number" id="height" value="8"><br />
		<input type="number" id="rej" value="10">
		</p>
	</div>
<button onclick="wallCalc()">Gimme the news!</button>
</div>
<div class="rejection-output-wrapper">
	<p id="demo"></p>
</div>

<p>
	These calculations are based off of the assumption that each rejection slip takes up one sheet of letter-sized (8.5 x 11") paper.  It is also assumed that there are no gaps between rejection slips and that no slips overlap one another.
</p>
<p>
The source code for this project is available <a href="https://github.com/HBBisenieks/rejection-wall">on GitHub</a> and is released under an MIT license.
</p>
